Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  modernize-use-nullptr,
  readability-const-return-type
WarningsAsErrors: '*'
HeaderFilterRegex: '.*/src/.*'
FormatStyle: file
